@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --teal-color: #FFD700;
  --teal-light: white;
  --text-color: #282b33;
  --logo-color: #282b33;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--teal-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.navbar-logo a {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  font-weight: bold;
  color: var(--logo-color);
  text-decoration: none;
  padding: 15px 0;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navbar-menu li {
  margin-left: 5px;
}

.navbar-menu li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 15px 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: var(--teal-light);
}

/* Menu icon for smaller screens */
.menu-icon {
  display: none; /* Hidden by default */
  cursor: pointer;
  color: var(--text-color);
  font-size: 24px;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show menu icon on smaller screens */
  }

  .navbar-menu {
    display: none; /* Hide the full menu on smaller screens */
  }
}

/* Ensure the menu icon is hidden on larger screens */
@media (min-width: 769px) {
  .menu-icon {
    display: none !important; /* Force-hide menu icon on larger screens */
  }

  .navbar-menu {
    display: flex !important; /* Ensure full menu is shown on larger screens */
  }
}

@media (max-width: 480px) {
  .navbar-menu li a {
    font-size: 14px;
  }
}
