@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); /* Import Montserrat */

/* Set Montserrat as the default font */
body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282c34;
    color: #fff; /* Default text color */
}

/* Customize specific elements */
h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFD700;  /* Yellow color to match the theme */
}
