@tailwind base;
@tailwind components;
@tailwind utilities;


h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFD700;  /* Add yellow color to match the theme */
}

.escape-container {
    height: 400px; /* Smaller container */
    width: 400px;  /* Smaller container */
    position: relative;
    border: 2px solid black; /* Visual border */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .escape-button {
    position: absolute;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, top 0.3s ease, left 0.3s ease;
  }
  